altgraph==0.17.4
auto-py-to-exe==2.45.1
bottle==0.13.1
bottle-websocket==0.2.9
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
Eel==0.17.0
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
idna==3.8
ordered-set==4.1.0
packaging==24.1
pefile==2023.2.7
pillow==10.4.0
plyer==2.1.0
pycparser==2.22
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.11
pyparsing==3.1.4
pypiwin32==223
pywin32==308
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==74.1.2
urllib3==2.2.2
whichcraft==0.6.1
win10toast==0.9
zope.event==5.0
zope.interface==7.0.3
zstandard==0.23.0
